name: Build Server (Windows)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-server:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '21'
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}

    # Explicitar que queremos o server
    - name: Build Server Native Image
      run: .\gradlew.bat nativeCompile -Ptarget=server

    - name: Upload Server Executable
      uses: actions/upload-artifact@v4
      with:
        name: chat-server-windows
        path: build/native/nativeCompile/*.exe